# Api.ValidationResult
[0 - Ok, 1 - Invalid, 2 - Expired, 3 - Tariff limit, 4 - User existed, 5 - User excluded, 6 - Quota failed]

## Enum


* `Ok` (value: `0`)

* `Invalid` (value: `1`)

* `Expired` (value: `2`)

* `TariffLimit` (value: `3`)

* `UserExisted` (value: `4`)

* `UserExcluded` (value: `5`)

* `QuotaFailed` (value: `6`)


